@CHARSET "ISO-8859-1";

/* ************************************************************************************************************************************************ */
/* ************************************************************** SUNNY THEME ********************************************************************* */
/* ************************************************************************************************************************************************ */

/* personaliser le font d'ecriture */
.label {
	font-family: "Jannat", "trebuchet ms", "Segoe UI", "Arial" !important;
}

/* Changement de la taille et la couleur de police de certains widget  */
.ui-accordion.ui-accordion-rtl .ui-accordion-header a,.ui-button-text,.label,.ui-panel-titlebar span,.ui-menuitem-text span {
	font-family: "Jannat", "trebuchet ms", "Segoe UI", "Arial" !important;
}

/* |||||||||||||||||||||||||||||||||||||- SelectOneMenu -||||||||||||||||||||||||||||||||||||||||--- */
/* Objet : selectonemenu -> Adaptation a l'affiche RTL  */
.ui-selectonemenu .ui-selectonemenu-label {
	float: right !important;
}

/* Objet : selectonemenu -> Adaptation a l'affiche RTL  */
.ui-selectonemenu .ui-selectonemenu-trigger {
	left: 0 !important;
	right: auto !important;
}

/* Objet : selectonemenu -> Adaptation a l'affiche RTL  */
.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	text-align: right !important;
}

/* Objet : selectonemenu -> Adaptation a l'affiche RTL  */
.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon {
	right: auto !important;
	left: 10px !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
	margin-top: 5px !important;
}

.ui-selectonemenu label.ui-selectonemenu-label {
	padding-left: 12px !important;
}

/* |||||||||||||||||||||||||||||||||||||- selectmanycheckbox -||||||||||||||||||||||||||||||||||||||||--- */
/* permet d'aligner verticalement au centre le checkbox et son libelle */
.ui-selectmanycheckbox label,.ui-selectoneradio label {
	margin-top: -4px !important;
}

/* |||||||||||||||||||||||||||||||||||||- Menu -||||||||||||||||||||||||||||||||||||||||--- */
.ui-menu .ui-menuitem-link .ui-menuitem-icon,.ui-menu .ui-menuitem-text {
	float: right !important;
}

.ui-menu.ui-widget .ui-menuitem-link .ui-menuitem-icon {
	margin-left: 2px !important;
	margin-right: 8px !important;
}

/* |||||||||||||||||||||||||||||||||||||- buttonset -||||||||||||||||||||||||||||||||||||||||--- */
.ui-buttonset .ui-corner-left.ui-state-default {
	-moz-border-radius-topright: 4px !important;
	border-top-right-radius: 4px !important;
	-moz-border-radius-bottomright: 4px !important;
	border-bottom-right-radius: 4px !important;
	-moz-border-radius-topleft: 0px !important;
	border-top-left-radius: 0px !important;
	-moz-border-radius-bottomleft: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.ui-buttonset .ui-corner-right.ui-state-default {
	-moz-border-radius-topleft: 4px !important;
	border-top-left-radius: 4px !important;
	-moz-border-radius-bottomleft: 4px !important;
	border-bottom-left-radius: 4px !important;
	-moz-border-radius-topright: 0px !important;
	border-top-right-radius: 0px !important;
	-moz-border-radius-bottomright: 0px !important;
	border-bottom-right-radius: 0px !important;
}

/* |||||||||||||||||||||||||||||||||||||- general -||||||||||||||||||||||||||||||||||||||||--- */
.ui-corner-right {
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
	border-top-right-radius: 1px !important;
	border-bottom-right-radius: 1px !important;	
}