<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="logConsole" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="WARN" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p -> %m%n" />
		</layout>

		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="FATAL" />
		</filter>

	</appender>

	<root>
		<appender-ref ref="logConsole" />
	</root>

	<!-- <appender name="logFile" class="org.apache.log4j.RollingFileAppender"> 
		<param name="file" value="rabet-debug.log" /> <param name="encoding" value="utf8" 
		/> <param name="MaxFileSize" value="5MB"/> <param name="MaxBackupIndex" value="10"/> 
		<layout class="org.apache.log4j.PatternLayout"> <param name="ConversionPattern" 
		value="%d{yyyy-MM-dd HH:mm:ss} %-5p -> %m%n" /> </layout> <filter class="org.apache.log4j.varia.LevelRangeFilter"> 
		<param name="levelMin" value="DEBUG" /> <param name="levelMax" value="FATAL" 
		/> </filter> </appender> -->



	<!-- <appender name="logFileError" class="org.apache.log4j.FileAppender"> 
		<param name="file" value="rabet-error.log" /> <param name="encoding" value="utf8" 
		/> <layout class="org.apache.log4j.PatternLayout"> <param name="ConversionPattern" 
		value="%d{yyyy-MM-dd HH:mm:ss} %-5p -> %m%n" /> </layout> <filter class="org.apache.log4j.varia.LevelRangeFilter"> 
		<param name="levelMin" value="ERROR" /> <param name="levelMax" value="FATAL" 
		/> </filter> </appender> -->

	<!-- <appender name="logMailError" class="com.ayouris.tifawin.rabet.utility.loggers.GmailSMTPAppender"> 
		<param name="SMTPHost" value="smtp.gmail.com"/> <param name="SMTPDebug" value="false"/> 
		<param name="From" value="support@ayouris.com"/> <param name="To" value="elbissat@gmail.com"/> 
		<param name="SMTPUsername" value="sendrabet@gmail.com"/> <param name="SMTPPassword" 
		value="password"/> <param name="Subject" value="E002 Erreur dans Rabet [Ecole 
		Alilm Wa Aliman Primaire]"/> <param name="BufferSize" value="1"/> <layout 
		class="org.apache.log4j.PatternLayout"> <param name="ConversionPattern" value="%d{yyyy-MM-dd 
		HH:mm:ss} %-5p -> %m%n" /> </layout> <filter class="org.apache.log4j.varia.LevelRangeFilter"> 
		<param name="levelMin" value="ERROR" /> <param name="levelMax" value="FATAL" 
		/> </filter> </appender> -->

	<!-- <root> <appender-ref ref="logConsole" /> <appender-ref ref="logFile" 
		/> <appender-ref ref="logFileError" /> <appender-ref ref="logMailError" /> 
		</root> -->

</log4j:configuration>
