@CHARSET "ISO-8859-1";

/* ************************************************************************************************************************************************ */
/* ************************************************************ BLUESKY THEME ********************************************************************* */
/* ************************************************************************************************************************************************ */


/* |||||||||||||||||||||||||||||||||||||- general -||||||||||||||||||||||||||||||||||||||||--- */
/* personaliser le font d'ecriture */
html,body,div,input,textarea,a:active,a:link,a:visited,a:hover,label,li,th,td,legend,select,.default,button,input[type="reset"],input[type="submit"],input[type="button"],.label,.ui-accordion-header a,.ui-button-text,.label,.ui-panel-titlebar span,.ui-menuitem-text span,.ui-menuitem-text
	{
	font-size: 12px !important;
	font-family: "trebuchet ms", "Segoe UI", "Arial" !important;
	color: darkolivegreen !important;
	font-weight: bold !important;
}

/* Supprime le bizoutage des objets de type Input  */
.ui-inputfield,.ui-widget-content .ui-inputfield,.ui-widget-header .ui-inputfield {
	cursor: text !important;
	background: none #ffffff !important;
	border: 1px solid #cccccc !important;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s !important;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s !important;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s !important;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s !important;
	transition: border linear 0.2s, box-shadow linear 0.2s !important;
}

/* Ajout d'une surbeillence autour des borders une fois reçoie le focus  */
.ui-inputfield.ui-state-focus,.ui-widget-content .ui-inputfield.ui-state-focus,.ui-widget-header .ui-inputfield.ui-state-focus {
	border-color: rgba(245, 199, 13, 0.8) !important;
	outline: thin dotted \9; /* IE6-9 */
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(245, 199, 13, 0.6) !important;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(245, 199, 13, 0.6) !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(245, 199, 13, 0.6) !important;
}

/* |||||||||||||||||||||||||||||||||||||- SelectOneMenu -||||||||||||||||||||||||||||||||||||||||--- */
.ui-selectonemenu .ui-selectonemenu-trigger {
	-webkit-box-shadow: inset 0 1px 0px #D1C8C8 !important;
}

/* |||||||||||||||||||||||||||||||||||||- Menu -||||||||||||||||||||||||||||||||||||||||--- */
.ui-menu {
	padding: 0 !important;
	position: relative !important;
	height: 30px !important;
	background-color: transparent !important;
	border: none !important;
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon,.ui-menu .ui-menuitem-text {
	white-space: nowrap;
}